.skills__box{
    background-color: white;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 0.4rem;
}

.skills__box:hover{
    cursor: pointer;
    box-shadow: 2px;
}

@media (min-width: 820px){
    .skills__box{
        width: 14%;
    }
}