 .title__network{
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 @media screen and (min-width:820px) {
   .title__network{
      width: 60%;
      min-width: 20rem;
   }
 }
